<div class="center jumbotron">
  <h1>Welcome to Sample App</h1>
  <h2>Create message for Sample App</h2>
  <%= link_to "Create message", new_message_path, class: "btn btn-large btn-primary" %>
</div>
