<%= link_to "All messages", messages_path %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Content</th>
        <th>Created_at</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @message.content %></td>
        <td><%= @message.created_at %></td>
        <td><%= @category.name %></td>
      </tr>
    </tbody>
  </table>
</div>
