<%= link_to "Create new category", new_category_path, class: "btn btn-primary" %></br></br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Descreption</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category_path(category) %></td>
          <td><%= category.description %></td>
          <td><%= category.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
